.idea
LNSCIA/ChatBot/scr2/ouput
LNSCIA/ChatBot/output/checkpoint-298/config.json
LNSCIA/ChatBot/output/checkpoint-298/generation_config.json
LNSCIA/ChatBot/output/checkpoint-298/merges.txt
LNSCIA/ChatBot/output/checkpoint-298/model.safetensors
LNSCIA/ChatBot/output/checkpoint-298/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-298/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-298/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-298/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-298/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-298/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-298/training_args.bin
LNSCIA/ChatBot/output/checkpoint-298/vocab.json
LNSCIA/ChatBot/output/checkpoint-596/config.json
LNSCIA/ChatBot/output/checkpoint-596/generation_config.json
LNSCIA/ChatBot/output/checkpoint-596/merges.txt
LNSCIA/ChatBot/output/checkpoint-596/model.safetensors
LNSCIA/ChatBot/output/checkpoint-596/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-596/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-596/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-596/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-596/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-596/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-596/training_args.bin
LNSCIA/ChatBot/output/checkpoint-596/vocab.json
LNSCIA/ChatBot/output/checkpoint-894/config.json
LNSCIA/ChatBot/output/checkpoint-894/generation_config.json
LNSCIA/ChatBot/output/checkpoint-894/merges.txt
LNSCIA/ChatBot/output/checkpoint-894/model.safetensors
LNSCIA/ChatBot/output/checkpoint-894/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-894/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-894/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-894/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-894/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-894/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-894/training_args.bin
LNSCIA/ChatBot/output/checkpoint-894/vocab.json
LNSCIA/Word2Vec/old/cc.pt.300.vec.gz
LNSCIA/Word2Vec/old/cc.pt.300.vec
!LNSCIA/ChatBot/scr/chat/gpt2-chat-finetuned/model.safetensors
LNSCIA/ChatBot/src/meu_modelo_ajustado/model.safetensors
LNSCIA/ChatBot/scr3/trained_model/model.safetensors
LNSCIA/ChatBot/scr3/results/checkpoint-100/model.safetensors
LNSCIA/ChatBot/scr/results/checkpoint-100/model.safetensors
LNSCIA/ChatBot/scr/results/checkpoint-145/model.safetensors
LNSCIA/ChatBot/scr/trained_model/model.safetensors
LNSCIA/ChatBot/scrV2/results/checkpoint-100/model.safetensors
LNSCIA/ChatBot/scrV2/results/checkpoint-145/model.safetensors
LNSCIA/ChatBot/scrV2/trained_model/model.safetensors
/AAU2/DetectObjects_MR/.ipynb_checkpoints/
/AAU2/DetectObjects_MR/inference_outputs/
/AAU2/DetectObjects_MR/mobilenet_outputs/cabe1040-5f02711e.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cabe1040-5f02711e_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cac07407-951977c8.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cac07407-951977c8_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cac07407-ba37148a.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cac07407-ba37148a_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cac07407-e969f06a.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cac07407-e969f06a_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cad4a646-68a8d136.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cad4a646-68a8d136_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cad7fdff-d9946f73.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cad7fdff-d9946f73_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cadd00a0-efef6501.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cadd00a0-efef6501_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cae6c88d-0db9c3ab.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cae6c88d-0db9c3ab_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/caf8496d-6ce3dbda.json
/AAU2/DetectObjects_MR/mobilenet_outputs/caf8496d-6ce3dbda_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/caf92153-cfcdf92a.json
/AAU2/DetectObjects_MR/mobilenet_outputs/caf92153-cfcdf92a_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cafb3e6f-22f2007e.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cafb3e6f-22f2007e_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cafbae4e-1d69e770.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cafbae4e-1d69e770_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cafbb9cb-c8d8b9df.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cafbb9cb-c8d8b9df_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/caff5d9a-35754dcf.json
/AAU2/DetectObjects_MR/mobilenet_outputs/caff5d9a-35754dcf_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/caff2200-238a0388.json
/AAU2/DetectObjects_MR/mobilenet_outputs/caff2200-238a0388_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb0ad251-7f86477e.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb0ad251-7f86477e_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb2fe290-7246a85f.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb2fe290-7246a85f_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb3f27ee-b8c0119f.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb3f27ee-b8c0119f_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb6e5ba7-c6b079ba.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb6e5ba7-c6b079ba_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb6feb71-f9d2abd3.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb6feb71-f9d2abd3_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb14e978-6c4d53f3.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb14e978-6c4d53f3_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb14e978-a5eb5afb.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb14e978-a5eb5afb_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb25d8ec-e52ef234.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb25d8ec-e52ef234_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb32ab44-e8b00418.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb32ab44-e8b00418_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb37bfff-1b87d685.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb37bfff-1b87d685_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb58f48b-957bfd2c.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb58f48b-957bfd2c_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb63ddeb-c7aee033.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb63ddeb-c7aee033_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb67cd3a-92cfbc6a.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb67cd3a-92cfbc6a_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb84e186-902e8c24.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb84e186-902e8c24_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb146e98-77442601.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb146e98-77442601_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb16478b-2c1ed614.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb16478b-2c1ed614_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb421747-f06aec7d.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb421747-f06aec7d_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cb842524-5b6a3672.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cb842524-5b6a3672_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cba98987-24ca8e06.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cba98987-24ca8e06_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cba98987-f4093483.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cba98987-f4093483_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbabff6d-d41ce15f.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbabff6d-d41ce15f_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbc7cfb1-27c67277.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbc7cfb1-27c67277_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbc58d3f-7dde1998.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbc58d3f-7dde1998_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbcb3dbf-f40f69e4.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbcb3dbf-f40f69e4_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbcb534f-16fa6d31.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbcb534f-16fa6d31_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbd23abd-3205ea9e.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbd23abd-3205ea9e_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe1a98e-59c820bc.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe1a98e-59c820bc_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe5d542-d6126a85.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe5d542-d6126a85_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe7b91f-df03c989.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe7b91f-df03c989_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe8b297-48e4c903.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe8b297-48e4c903_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe8cc9b-a5f6ec17.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbe8cc9b-a5f6ec17_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cbf2d780-5f5946f8.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cbf2d780-5f5946f8_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc0ffeed-4110e03a.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc0ffeed-4110e03a_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc0ffeed-291914b0.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc0ffeed-291914b0_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc2f94ff-d9c0355d.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc2f94ff-d9c0355d_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc3d9a74-332c6b55.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc3d9a74-332c6b55_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc14b1c2-30c89f92.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc14b1c2-30c89f92_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc24b908-5ec35400.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc24b908-5ec35400_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc24b908-71ca827f.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc24b908-71ca827f_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc26dee3-c063b9cc.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc26dee3-c063b9cc_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc27a12a-28769998.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc27a12a-28769998_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc34a2b1-2a2d4b50.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc34a2b1-2a2d4b50_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc143f30-b3d2cf65.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc143f30-b3d2cf65_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc289a8f-2bfa8b70.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc289a8f-2bfa8b70_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc388c9e-2a036fae.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc388c9e-2a036fae_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc420b48-783d8d83.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc420b48-783d8d83_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc420b48-cefb43bf.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc420b48-cefb43bf_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc479b69-37d1a516.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc479b69-37d1a516_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc0635d6-45630353.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc0635d6-45630353_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc3294d1-348ad004.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc3294d1-348ad004_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc350056-47e6f468.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc350056-47e6f468_annotated.jpg
/AAU2/DetectObjects_MR/mobilenet_outputs/cc420104-c11e86c8.json
/AAU2/DetectObjects_MR/mobilenet_outputs/cc420104-c11e86c8_annotated.jpg
/AAU2/DetectObjects_MR.7z
/anaconda_projects/db/project_filebrowser.db
LNSCIA/ChatBot/output/checkpoint-720/vocab.json
LNSCIA/ChatBot/output/checkpoint-720/training_args.bin
LNSCIA/ChatBot/output/checkpoint-720/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-720/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-720/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-720/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-720/scaler.pt
LNSCIA/ChatBot/output/checkpoint-720/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-720/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-720/model.safetensors
LNSCIA/ChatBot/output/checkpoint-720/merges.txt
LNSCIA/ChatBot/output/checkpoint-720/generation_config.json
LNSCIA/ChatBot/output/checkpoint-720/config.json
LNSCIA/ChatBot/output/checkpoint-72/vocab.json
LNSCIA/ChatBot/output/checkpoint-72/training_args.bin
LNSCIA/ChatBot/output/checkpoint-72/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-72/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-72/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-72/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-72/scaler.pt
LNSCIA/ChatBot/output/checkpoint-72/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-72/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-72/model.safetensors
LNSCIA/ChatBot/output/checkpoint-72/merges.txt
LNSCIA/ChatBot/output/checkpoint-72/generation_config.json
LNSCIA/ChatBot/output/checkpoint-72/config.json
LNSCIA/ChatBot/output/checkpoint-648/vocab.json
LNSCIA/ChatBot/output/checkpoint-648/training_args.bin
LNSCIA/ChatBot/output/checkpoint-648/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-648/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-648/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-648/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-648/scaler.pt
LNSCIA/ChatBot/output/checkpoint-648/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-648/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-648/model.safetensors
LNSCIA/ChatBot/output/checkpoint-648/merges.txt
LNSCIA/ChatBot/output/checkpoint-648/generation_config.json
LNSCIA/ChatBot/output/checkpoint-648/config.json
LNSCIA/ChatBot/output/checkpoint-576/vocab.json
LNSCIA/ChatBot/output/checkpoint-576/training_args.bin
LNSCIA/ChatBot/output/checkpoint-576/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-576/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-576/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-576/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-576/scaler.pt
LNSCIA/ChatBot/output/checkpoint-576/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-576/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-576/model.safetensors
LNSCIA/ChatBot/output/checkpoint-576/merges.txt
LNSCIA/ChatBot/output/checkpoint-576/generation_config.json
LNSCIA/ChatBot/output/checkpoint-576/config.json
LNSCIA/ChatBot/output/checkpoint-504/vocab.json
LNSCIA/ChatBot/output/checkpoint-504/training_args.bin
LNSCIA/ChatBot/output/checkpoint-504/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-504/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-504/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-504/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-504/scaler.pt
LNSCIA/ChatBot/output/checkpoint-504/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-504/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-504/model.safetensors
LNSCIA/ChatBot/output/checkpoint-504/merges.txt
LNSCIA/ChatBot/output/checkpoint-504/generation_config.json
LNSCIA/ChatBot/output/checkpoint-504/config.json
LNSCIA/ChatBot/output/checkpoint-432/vocab.json
LNSCIA/ChatBot/output/checkpoint-432/training_args.bin
LNSCIA/ChatBot/output/checkpoint-432/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-432/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-432/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-432/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-432/scaler.pt
LNSCIA/ChatBot/output/checkpoint-432/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-432/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-432/model.safetensors
LNSCIA/ChatBot/output/checkpoint-432/merges.txt
LNSCIA/ChatBot/output/checkpoint-432/generation_config.json
LNSCIA/ChatBot/output/checkpoint-432/config.json
LNSCIA/ChatBot/output/checkpoint-360/vocab.json
LNSCIA/ChatBot/output/checkpoint-360/training_args.bin
LNSCIA/ChatBot/output/checkpoint-360/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-360/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-360/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-360/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-360/scaler.pt
LNSCIA/ChatBot/output/checkpoint-360/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-360/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-360/model.safetensors
LNSCIA/ChatBot/output/checkpoint-360/merges.txt
LNSCIA/ChatBot/output/checkpoint-360/generation_config.json
LNSCIA/ChatBot/output/checkpoint-360/config.json
LNSCIA/ChatBot/output/checkpoint-288/vocab.json
LNSCIA/ChatBot/output/checkpoint-288/training_args.bin
LNSCIA/ChatBot/output/checkpoint-288/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-288/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-288/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-288/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-288/scaler.pt
LNSCIA/ChatBot/output/checkpoint-288/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-288/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-288/model.safetensors
LNSCIA/ChatBot/output/checkpoint-288/merges.txt
LNSCIA/ChatBot/output/checkpoint-288/generation_config.json
LNSCIA/ChatBot/output/checkpoint-288/config.json
LNSCIA/ChatBot/output/checkpoint-216/vocab.json
LNSCIA/ChatBot/output/checkpoint-216/training_args.bin
LNSCIA/ChatBot/output/checkpoint-216/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-216/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-216/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-216/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-216/scaler.pt
LNSCIA/ChatBot/output/checkpoint-216/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-216/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-216/model.safetensors
LNSCIA/ChatBot/output/checkpoint-216/merges.txt
LNSCIA/ChatBot/output/checkpoint-216/generation_config.json
LNSCIA/ChatBot/output/checkpoint-216/config.json
LNSCIA/ChatBot/output/checkpoint-144/vocab.json
LNSCIA/ChatBot/output/checkpoint-144/training_args.bin
LNSCIA/ChatBot/output/checkpoint-144/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-144/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-144/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-144/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-144/scaler.pt
LNSCIA/ChatBot/output/checkpoint-144/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-144/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-144/model.safetensors
LNSCIA/ChatBot/output/checkpoint-144/merges.txt
LNSCIA/ChatBot/output/checkpoint-144/generation_config.json
LNSCIA/ChatBot/output/checkpoint-144/config.json
/AAU2/DetectObjects_MR/mobilenet_outputs/
LNSCIA/ChatBot/scr/chat/trainer_output/checkpoint-interrupted/model.safetensors
backend/chatbot/chat/gpt2-chat-finetuned/model.safetensors
