.idea
LNSCIA/ChatBot/scr2/ouput
LNSCIA/ChatBot/output/checkpoint-298/config.json
LNSCIA/ChatBot/output/checkpoint-298/generation_config.json
LNSCIA/ChatBot/output/checkpoint-298/merges.txt
LNSCIA/ChatBot/output/checkpoint-298/model.safetensors
LNSCIA/ChatBot/output/checkpoint-298/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-298/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-298/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-298/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-298/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-298/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-298/training_args.bin
LNSCIA/ChatBot/output/checkpoint-298/vocab.json
LNSCIA/ChatBot/output/checkpoint-596/config.json
LNSCIA/ChatBot/output/checkpoint-596/generation_config.json
LNSCIA/ChatBot/output/checkpoint-596/merges.txt
LNSCIA/ChatBot/output/checkpoint-596/model.safetensors
LNSCIA/ChatBot/output/checkpoint-596/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-596/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-596/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-596/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-596/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-596/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-596/training_args.bin
LNSCIA/ChatBot/output/checkpoint-596/vocab.json
LNSCIA/ChatBot/output/checkpoint-894/config.json
LNSCIA/ChatBot/output/checkpoint-894/generation_config.json
LNSCIA/ChatBot/output/checkpoint-894/merges.txt
LNSCIA/ChatBot/output/checkpoint-894/model.safetensors
LNSCIA/ChatBot/output/checkpoint-894/optimizer.pt
LNSCIA/ChatBot/output/checkpoint-894/rng_state.pth
LNSCIA/ChatBot/output/checkpoint-894/scheduler.pt
LNSCIA/ChatBot/output/checkpoint-894/special_tokens_map.json
LNSCIA/ChatBot/output/checkpoint-894/tokenizer_config.json
LNSCIA/ChatBot/output/checkpoint-894/trainer_state.json
LNSCIA/ChatBot/output/checkpoint-894/training_args.bin
LNSCIA/ChatBot/output/checkpoint-894/vocab.json
LNSCIA/Word2Vec/old/cc.pt.300.vec.gz
LNSCIA/Word2Vec/old/cc.pt.300.vec
LNSCIA/ChatBot/scr/chat/gpt2-chat-finetuned/model.safetensors
